:root {
    --primary-color: yellow;
    --primary-hover: blue;
    --button-bg-color: red;
    --button-bg-hover: black;
}
main  {
    width: 90%;
    margin: auto;
    background-color: #f18585;
    display: flex;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 15px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.nav-item:first-child {
    margin-right: auto;
    margin-right: 20px;
}

.nav-item {
    list-style: none;

}

.nav-item a {
    color: blue;
    text-decoration: none;
}
.nav-item a:hover {
    color: yellow;
}

.btn {
    background-color: rgb(214, 201, 17);
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.para-text {
    width: 350px;
    border-left: 2px solid red;
    padding-left: 10px;
    border: 1px solid green;
}

p:nth-child(odd) {
    background-color: hsl(175, 82%, 49%);
    padding: 10px;
    border: 1px solid green;
}

p:nth-child(even) {
    background-color: #e0d96f;
    padding: 10px;

}


.btn:hover{
    color: aquamarine;
}


@media screen and (max-width: 485px) {
    .container {
        flex-direction: column;
    }

    .nav-item:first-child {
        margin: auto;
    }
}