.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 200px;
    height: 100px;
    padding: 60px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
    background: skyblue;
    flex-direction: column;
} 