* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}


.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;

}

.card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
}

.card img {
    width: 100%;
    min-width: 400px;
}
/* 
@main screen and (max-width: 320px) {
    .main-header {
        flex-dirextion:column;
    }
} */