body {
    background-color: aliceblue;
}

h4 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

button {
    padding: 10px;
    cursor: pointer;
    margin: 25px;
    font-size: 25px;
    background-color: blue;
    color: white;
}

.container {
    display: block;
    margin: 80px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.4s;
    width: 60vw;
    background-color: #fff;
}

.wrapper {
    padding-top: 20px;
}

.card-contets{
    padding: 5px 5px 10px 5px;
}