section:nth-of-type(1){
    color:purple;
}
section p:first-child{
    font-weight: 70px;
}
section {
    /* လိုင်းအပြည့် */
    display: grid;
    font-size: 42px;
    padding: 10px;
    width: auto;
    border: 8px solid greenyellow;
    border-radius: 5px;
}
table {
    border-collapse: collapse;
}
th,td {
    border: 3px solid skyblue;
}