.section {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

#email {
    background-color: goldenrod;
}

#Github {
    background-color: lightblue;
}
#portfolio {
    background-color: darkorange;
}